.hero {
  min-width: 95vw;
  margin-top: 4rem;
  overflow-x: hidden;
  &__top {
    max-width: 160rem;
    padding: 0 5rem;
    @media (max-width: 650px) {
      margin-bottom: 3rem;
      padding: 0 2rem;
    }
  }
  &__select {
    font-size: 1.4rem;
    &:hover {
      background-color: var(--normal-green);
      color: #fff;
    }
  }

  // &__content {
  //   display: flex;
  //   flex-direction: column;
  //   gap: 2rem;
  // }
  &__title {
    @media (max-width: 650px) {
      align-self: start;
    }
    span {
      position: relative;
    }
    &--icon {
      height: 2.5rem;
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
    }
  }
  &__buttons {
    display: flex;
    align-items: center;
    gap: 2rem;
    button {
      font-size: 1.4rem;
      font-weight: 500;
    }
  }
  &__mid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    margin-bottom: 2rem;
    max-width: 160rem;
    padding: 0 5rem;
    @media (max-width: 650px) {
      flex-direction: column;
      gap: 0rem;
      padding: 0 2rem;
    }
  }
  &__bottom {
    z-index: -1;
    min-width: 100dvw;
    padding-left: 2rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    &--images {
      display: flex;
      // justify-content: center;
      // gap: 2rem;
    }
    &--buttons {
      width: 50%;
      padding: 0 6rem;
      margin-left: auto;
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 4rem;
      button {
        &:hover .hero__bottom--icon {
          color: var(--dark-green);
        }
      }
    }
    &--icon {
      pointer-events: none;
      height: 6rem;
      color: var(--normal-green);
      transition: 0.2s;

      &-1 {
        rotate: -90deg;
      }
      &-2 {
        rotate: 90deg;
      }
    }
  }
  &__image {
    border-radius: 2rem;
    width: 35rem;
    height: 55rem;
    flex: 0 0 35rem;
    // user-select: none;
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      // pointer-events: none;
    }
    // &--1 {
    //   background-image: url("../../public/images/lion1.jpg");
    // }
    // &--2 {
    //   background-image: url("../../public/images/lion2.jpg");
    // }
    // &--3 {
    //   background-image: url("../../public/images/lion5.jpg");
    // }
    // &--4 {
    //   background-image: url("../../public/images/lion4.jpg");
    // }
    // &--5 {
    //   background-image: url("../../public/images/lion3.jpg");
    // }
    // &--6 {
    //   background-image: url("../../public/images/lion6.jpg");
    // }
    // &--7 {
    //   background-image: url("../../public/images/lion7.jpg");
    // }
    // &--8 {
    //   background-image: url("../../public/images/lion8.jpg");
    // }
    // &--9 {
    //   background-image: url("../../public/images/lion9.jpg");
    // }
    // &--10 {
    //   background-image: url("../../public/images/lion10.jpg");
    // }
  }
}
