.hero {
  min-width: 95vw;
  margin-top: 4rem;
  overflow-x: hidden;
  margin-bottom: 10rem;

  &__top {
    max-width: 160rem;
    padding: 0 5rem;
    @media (max-width: 650px) {
      margin-bottom: 2rem;
      padding: 0 2rem;
    }
  }

  &__title {
    @media (max-width: 1400px) {
      font-size: 8rem;
    }
    @media (max-width: 1162px) {
      align-self: start;
    }
  }
  &__buttons {
    display: flex;
    align-items: center;
    gap: 2rem;
    button {
      font-size: 1.4rem;
      font-weight: 500;
    }
  }
  &__mid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    margin-bottom: 2rem;
    max-width: 160rem;
    padding: 0 5rem;
    @media (max-width: 1162px) {
      flex-direction: column;
      gap: 0rem;
      padding: 0 2rem;
      margin-top: 4rem;
    }
    @media (max-width: 800px) {
      gap: 2rem;
    }
  }
  &__bottom {
    z-index: -1;
    padding-left: 2rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    translate: 0 -8rem;
    &--images {
      display: flex;
      gap: 1.5rem;
    }
    &--buttons {
      width: 50%;
      padding: 0 6rem;
      margin-left: auto;
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 4rem;
      button {
        &:hover .hero__bottom--icon {
          color: var(--dark-green);
        }
      }
    }
    &--icon {
      pointer-events: none;
      height: 6rem;
      color: var(--normal-green);
      transition: 0.2s;
    }
  }
  &__image {
    border-radius: var(--radius-lg);
    width: 35rem;
    height: 55rem;
    flex: 0 0 35rem;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border: 1px solid var(--normal-green);

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
.swiper-wrapper {
  display: flex;
  gap: 1.5rem;
}
