.link {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  position: relative;
  &::after {
    content: "";
    height: 1px;
    position: absolute;
    bottom: 0;
    right: 0;
    translate: 0 0.3rem;
    background-color: var(--normal-green);
    width: 0;
    transition: 0.2s;
  }
  &:hover::after {
    width: 100%;
    left: 0;
    right: auto;
  }
}

.select-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  color: var(--normal-green);
  background-color: transparent;
  border: 1px solid var(--normal-green);
  border-radius: 20rem;
  &:hover {
    background-color: var(--normal-green);
    color: var(--bg-color);
  }
}
.select-btn-bg {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.8rem 4rem;
  font-size: 1.8rem;
  color: var(--normal-green);
  background-color: transparent;
  border: 2px solid var(--normal-green);
  border-radius: 20rem;
  display: flex;
  place-content: center;
  &:hover {
    background-color: var(--normal-green);
    color: var(--bg-color);
  }
}
.selected {
  background-color: var(--normal-green);
  color: var(--bg-color);
}

.icon {
  height: 1.8em;
}

.heading {
  font-size: 10rem;
  color: var(--dark-green);
  font-weight: 700;
  line-height: 1;
  @media (max-width: 650px) {
    font-size: 8rem;
  }
}
.heading-second {
  font-size: 5rem;
  color: var(--dark-green);
  font-weight: 700;
  line-height: 1.1;
  @media (max-width: 650px) {
    font-size: 4.2rem;
  }
}
.heading-third {
  font-size: 3rem;
  color: var(--dark-green);
  font-weight: 700;
  line-height: 1.2;
  @media (max-width: 650px) {
    font-size: 2.8rem;
  }
}

.container {
  min-width: 95vw;
  margin-top: 4rem;
  overflow-x: hidden;
  max-width: 160rem;
  padding: 0 5rem;
  @media (max-width: 1060px) {
    padding: 0 3rem;
  }
  @media (max-width: 700px) {
    padding: 0 2rem;
  }
}
.paragraph {
  font-size: 2rem;
  color: var(--text-color);
  font-weight: 400;
  line-height: 1.6;
}
input {
  font-family: interphase, sans-serif;
  font-weight: 500;
  color: var(--dark-green);
  &::placeholder {
    font-weight: 400;
  }
}
.cta {
  align-self: start;
  background-color: var(--normal-green);
  padding: 1rem 5rem;
  border-radius: 1rem;
  color: #fff;
  text-decoration: none;
  font-size: 2.2rem;
  font-weight: 600;
  transition: 0.2s;
  position: relative;
  &:hover {
    background-color: var(--normal-green-hover);
  }
}
.big-button {
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25rem;
  border: 0.5rem solid var(--bg-color);
  color: #fff;
  text-align: center;
  font-size: 2.4rem;
  line-height: 2;
  letter-spacing: 1px;
  border-radius: 20rem;
  aspect-ratio: 1;
  background-color: var(--orange);
  font-weight: 600;
  rotate: 20deg;
  z-index: 9;
  margin-left: auto;
  user-select: none;
  translate: 0 6rem;

  &:hover {
    background-color: var(--orange-hover);
  }
}
.open {
  font-weight: 500;
  color: var(--grey);
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  @media (max-width: 700px) {
    display: none;
  }
  &--dot {
    height: 0.8rem;
    aspect-ratio: 1;
    border-radius: 2rem;
    background-color: var(--normal-green);
    position: relative;
    &-bg {
      content: "";
      z-index: -3;
      height: 250%;
      aspect-ratio: 1;
      border-radius: 20rem;
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      background-color: var(--light-green);
    }
  }
}
