// @import "./node_modules/pikaday/css/pikaday.css";
.tickets {
  &__container {
    max-width: 100dvw;
    padding: 0;
  }
  &__top {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: space-between;
    padding: 5rem;
  }
  &__options {
    display: flex;
    align-items: center;
    gap: 2rem;
    button {
      padding: 0.8rem 3rem;
      font-size: 1.8rem;
    }
  }
  &__title {
  }
  &__steps {
    width: 100%;
    display: flex;
    background-color: var(--super-light-green);
    overflow: hidden;
  }
  &__bottom {
    min-width: 100%;
    // position: relative;
    padding: 4rem 5rem;
    // display: flex;
    transition: 0.3s;
    // transform: translateX(0);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 5rem;
    min-height: 40rem;
    @media (max-width: 1200px) {
      padding: 2rem 1rem;
      gap: 2rem;
    }
    @media (max-width: 700px) {
      padding: 2rem;
      row-gap: 5rem;
      grid-template-columns: 1fr;
    }
  }
  &__step {
    font-size: 2.6rem;
    font-weight: 600;
  }
  &__left {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    flex-basis: 50%;
    input {
      padding: 1rem;
      display: none;
    }
  }
  &__right {
    flex-basis: 50%;

    input {
      transition: 0.2s;
      font-size: inherit;
      padding: 1rem;
      border-radius: 1rem;
      border: 1px solid var(--light-grey);
      outline: none;
      &:focus {
        border: 1px solid var(--dark-green);
        background-color: var(--super-light-green-2);
      }
    }
  }
}
.ticket {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-size: 2rem;
  &__persons {
    display: flex;
    flex-direction: column;
    // padding: 2rem 0;
    border: 1px solid var(--light-grey);
    border-right: 0;
    border-left: 0;
    gap: 0rem;
  }
  &__bottom {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
      font-size: 2rem;
    }
  }
  &__total {
    &--text {
      color: var(--dark-green);
      font-size: 2.8rem;
      font-weight: 500;
    }
    display: flex;
    align-items: center;
  }
}
.person {
  font-size: 2rem;
  display: grid;
  align-items: center;
  grid-template-columns: 1.8fr 1fr 1fr;
  gap: 1rem;
  justify-content: space-between;
  padding: 2rem 0;
  border-bottom: 1px solid var(--light-grey);

  &:last-child {
    border-bottom: none;
  }
  &__age {
    font-size: 2.2rem;
    color: var(--dark-green);
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 1rem;
    span {
      font-weight: 400;
      font-size: 1.6rem;
    }
  }
  &__price {
    font-size: 2.2rem;
  }
  &__email {
    margin-top: 2rem;
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 1.5fr 2fr;
    gap: 2rem;
    flex-wrap: wrap;
    input {
      padding: 1.2rem;
    }
    &--text {
      &-top {
        font-size: 2.4rem;
      }
      &-bottom {
        font-size: 1.5rem;
      }
    }
  }
  &__qt {
    display: flex;
    gap: 1rem;
    button {
      align-self: center;
      padding: 0;
      height: 3.4rem;
      font-weight: 400;
      aspect-ratio: 1;
      border-radius: 50rem;
    }
    input {
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        display: none;
      }
      text-align: center;
      max-width: 10rem;
    }
  }
}

.ticket-message {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  translate: -50% -50%;
  height: 50%;
  width: 50%;
  background-color: #fff;
  &__bg {
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1rem);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    z-index: 99;
    left: 50%;
    translate: -50% -50%;
  }
}

.payment {
  min-width: 100%;
  transition: 0.3s;
  transform: translateX(-100%);
  padding: 4rem 5rem;
  &__title {
    margin-bottom: 3rem;
  }
  &__bottom {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 8rem;
  }
  &__left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  &__persons {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 3rem 0;
    border-bottom: 1px solid var(--grey);
    border-color: rgb(11, 45, 23, 0.3);
  }
  &__person {
    strong {
      font-weight: 600;
    }
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    // justify-items: center;
    font-size: 2rem;

    &:last-child &--left {
      display: block;
      min-width: 10rem;
    }
    &:last-child &--left {
      display: grid;
      grid-template-columns: 7rem 1.5rem 1.5rem;
      align-items: center;
    }
    &--mid {
      height: 1px;
      border-top: 1px dashed rgb(11, 45, 23, 0.3);
    }
    &--total {
      font-weight: 500;
      strong {
        font-weight: 500;
      }
    }
  }
  &__summary {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    &--text {
      font-size: 2.8rem;
      font-weight: 600;
    }
    &--total {
      font-size: 2.8rem;
      font-weight: 600;
      strong {
        font-weight: 600;
      }
    }
  }
}
