---
import Icon from "astro-icon";
import "../styles/Hero.scss";
import SelectButton from "../ui/SelectButton.astro";
import lion1 from "/images/lion1.jpg?url";
import lion2 from "/images/lion2.jpg?url";
import lion3 from "/images/lion3.jpg?url";
import lion4 from "/images/lion4.jpg?url";
import lion5 from "/images/lion5.jpg?url";
import lion6 from "/images/lion6.jpg?url";
import lion7 from "/images/lion7.jpg?url";
import lion8 from "/images/lion8.jpg?url";
import lion9 from "/images/lion9.jpg?url";
import lion10 from "/images/lion10.jpg?url";

import lowimage from "/images/lowqt.svg?url";
import HeroSwiper from "./homepage/HeroSwiper.astro";
---

<section class="hero">
  <div class="hero__top">
    <div class="hero__buttons">
      <SelectButton href="#location" iconName="carbon:location">
        Get Location
      </SelectButton>
      <SelectButton href="#map-cart" iconName="iconoir:map">
        Zoo Map
      </SelectButton>
      <SelectButton href="/Animals" iconName="mdi:paw">
        Our Animals
      </SelectButton>
    </div>
  </div>
  <div class="hero__content">
    <div class="hero__mid">
      <h1 class="hero__title heading">LION PARK AGADIR</h1>
      <a href="/Tickets" class="hero__button big-button">book<br />Tickets</a>
    </div>
    <HeroSwiper />
  </div>
</section>
